build/
Logs/
Packages/
Builds/
test-results/
obj/

# Android build files
.gradle*
.idea*
*.iml*
local.properties*
build.meta

*.sublime-workspace
Android/app/assets/bin/Data
libmono.so
libunity.so
.DS_Store
Assembly-CSharp.csproj
Temp/
Library/
smcs.rsp
smcs.rsp.meta
*.sln
*.csproj
*.pidb
*.userprefs
*.swatch
*.rsp
*.suo
*.user
*.unityproj
*.unitypackage
UpgradeLog*.htm
